<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>修改保单</title>
			<!-- Bootstrap -->
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />

	<script type="text/javascript" th:src="@{/js/jquery-1.11.1.js}"></script>
	</head>
	<style>

		#inputwidth{
			width: 230px;
			height: 25px;
		}
		#textcenter{
			text-align: right;
		}
		#spansize{
			font-size: 15px;
		}
		#Exampleheading{
			height: 25px;
		}
	</style>
	<body>
	<!-- 获取保单编号warranty_number -->
	<input type="hidden" name="baodanid" th:value="${warranty_number}">
	<!-- 保单id -->
		<input name="warranty_number" type="hidden"/>
	<!-- 投保人id -->
		<input name="policyholders.policyholders_number" type="hidden"/>
	<!-- 被保人id -->
		<input name="recognizee.recognizee_number" type="hidden"/>
		<div style="width: 100%">

			<form style="width: 100%">
				
				<div style="width: 100%;height: 230px;" >
					<div style="width: 50%;float: left;">
						<table  class="table table-striped" >
							<tr>
								<td><label for="exampleInputEmail1" id="Exampleheading"> <span class="label label-default" id="spansize">投保人信息</span></label></td>
								<td></td>
							</tr>
							<tr>
								<td id="textcenter">投保人姓名</td>
								<td><input type="text" class="form-control" id="inputwidth" name="policyholders.policyholders_name"></td>
							</tr>
							<tr>
								<td id="textcenter"  style="height: 42px;">性别</td>
								<td>
									男<input name="policyholderssex" type="radio" value="男" id="policyholdersnan"/>
									女<input name="policyholderssex" type="radio" value="女" id="policyholdersnv"/>
								</td>
							</tr>	
							<tr style="height: 55px;">
								<td id="textcenter">证件号码</td>
								<td><input type="text" class="form-control" id="inputwidth" name="policyholders.credentials_number"></td>
							</tr>

						</table>
					</div>
				
					<div style="width: 50%;float: right;">
						<table  class="table table-striped" >
							<tr>
								<td style="width: 300px;"><label for="exampleInputEmail1" style="height: 20px;"><span class="label label-default"></span></label></td>
								<td></td>
							</tr>
							<tr>
								<td id="textcenter">联系地址</td>
								<td style="height: 42px;">
									<select id="policyholdersaddress_shen"> 
										<option>美国</option>
										<option>美国</option> 
										<option>香港</option> 
										<option>上海</option>
									</select>省
									<select id="policyholdersaddress_shi"> 
										<option value="长沙">美国</option> 
										<option value="美国">美国</option> 
										<option value="上海">上海</option> 
										<option value="香港">香港</option> 
									</select> 市
								</td>
							</tr>
							<tr>
								<td id="textcenter">联系电话</td>
								<td><input type="text" class="form-control" id="inputwidth" name="policyholders.tel"></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
					
				</div>
				
				<div style="width: 100% ;height: 250px;">
					<div style="width: 50%;float: left;">
						<table  class="table table-striped" >
							<tr>
								<td><label for="exampleInputEmail1" id="Exampleheading"> <span class="label label-default" id="spansize">被保人信息</span></label></td>
								<td></td>
							</tr>
							<tr>
								<td id="textcenter">被保人姓名</td>
								<td><input type="text" class="form-control" id="inputwidth" name="recognizee.recognizee_name"></td>
							<tr>
								<td id="textcenter" style="height: 42px;">性别</td>
								<td>
									男<input name="recognizeesex" type="radio" value="男" id="recognizeenan"/>
									女<input name="recognizeesex" type="radio" value="女" id="recognizeenv"/>
								</td>
							</tr>
							<tr>
								<td id="textcenter">证件号码</td>
								<td><input type="text" class="form-control" id="inputwidth" name="recognizee.credentials_number"></td>
							</tr>
							<tr>
								<td id="textcenter">联系地址</td>
								<td style="height: 42px;">
									<select id="recognizeeaddress_shen" name="recognizee.address_shen"> 
										<option value="香港">香港</option> 
										<option value="上海">上海</option> 
										<option value="北京">北京</option> 
										<option value="湖南 ">湖南</option>
									</select>省
									<select id="recognizeeaddress_shi" name="recognizee.address_shi"> 
										<option value="香港">香港</option> 
										<option value="长沙">长沙</option> 
										<option value="北京">北京</option> 
										<option value="虎门">虎门</option> 
									</select> 市
								</td>
							</tr>	
						</table>
					</div>
				
					<div style="width: 50%;float: right;">
						<table  class="table table-striped" >
							<tr>
								<td style="width: 300px;"><label for="exampleInputEmail1" style="height: 20px;"><span class="label label-default"></span></label></td>
								<td></td>
							</tr>
							<tr>
								<td id="textcenter">联系电话</td>
								<td><input type="text" class="form-control" id="inputwidth" name="recognizee.tel"></td>
							</tr>
							<tr>
								<td id="textcenter">邮箱</td>
								<td><input type="email" class="form-control" id="inputwidth" name="recognizee.email"></td>
							</tr>
							<tr>
								<td id="textcenter">银行账户</td>
								<td><input type="text" class="form-control" id="inputwidth" name="recognizee.bank_number"></td>
							</tr>
							<tr>
								<td id="textcenter">驾驶证号码</td>
								<td><input type="text" class="form-control" id="inputwidth" name="recognizee.drive_number"></td>
							</tr>
						</table>
					</div>			
				</div>
			
				
			
				<div style="width: 100%">
					<div style="width: 50%;float: left;">
						<table  class="table table-striped" >
							<tr>
								<td><label for="exampleInputEmail1" id="Exampleheading"> <span class="label label-default" id="spansize">车辆信息</span></label></td>
								<td></td>
							</tr>
							<tr>
								<td id="textcenter">车牌号</td>
								<td><input type="text" class="form-control" id="inputwidth" name="license_number"></td>
							</tr>
							<tr>
								<td id="textcenter">发动机号</td>
								<td><input type="text" class="form-control" id="inputwidth" name="engine_number"></td>
							</tr>
							<tr>
								<td id="textcenter">车架号</td>
								<td><input type="text" class="form-control" id="inputwidth" name="frame_number"></td>
							</tr>
							
						</table>
					</div>
				
					
					
					<div style="width: 50%;float: right;">
						<table  class="table table-striped" >
							<tr>
								<td style="width: 300px;"><label for="exampleInputEmail1" style="height: 20px;"><span class="label label-default"></span></label></td>
								<td></td>
							</tr>
							<tr>
								<td id="textcenter">厂牌型号</td>
								<td><input type="text" class="form-control" id="inputwidth" name="make_number"></td>
							</tr>
							<tr>
								<td id="textcenter">车辆行驶证号</td>
								<td><input type="text" class="form-control" id="inputwidth" name="sail_number"></td>
							</tr>
							<tr>
								<td id="textcenter">车主姓名</td>
								<td><input type="text" class="form-control" id="inputwidth" name="car_owner_name"></td>
							</tr>
						</table>
					</div>
				</div>
				
				<div style="width: 100%">
		
				
					<div style="width: 50%;float: left;">
						<table  class="table table-striped" >
							<tr>
								<td><label for="exampleInputEmail1" id="Exampleheading"><span class="label label-default" id="spansize">保单信息</span></label></td>
								<td></td>
							</tr>
							<tr>
								<td id="textcenter">保险起期</td>
								<td><input type="date" class="form-control" id="inputwidth" name="insurance_begin_date"></td>
							</tr>	
							<tr>
								<td id="textcenter">投保金额</td>
								<td><input type="text" class="form-control" id="inputwidth" name="policyholders_sum" ></td>
							</tr>
							<tr>
								<td id="textcenter">缴费时间</td>
								<td><input type="date" class="form-control" id="inputwidth" name="payment_date"></td>
							</tr>
						</table>
					</div>
				
					
					
					<div style="width: 50%;float: right;">
						<table  class="table table-striped" >
							<tr>
								<td style="width: 300px;"><label for="exampleInputEmail1" style="height: 20px;"><span class="label label-default"></span></label></td>
								<td></td>
							</tr>
							<tr>
								<td id="textcenter">保险止期</td>
								<td><input type="date" class="form-control" id="inputwidth" name="insurance_end_date"></td>
							</tr>
							<tr>
								<td id="textcenter">保费金额</td>
								<td><input type="text" class="form-control" id="inputwidth" name="premium_sum"></td>
							</tr>
							<tr>
								<td id="textcenter">签单日期</td>
								<td><input type="date" class="form-control" id="inputwidth" name="permission_date"></td>
							</tr>
						</table>
					</div>
				</div>
				
			</form>
		</div>
		
		<div style="width: 100%;text-align: center;">
			<button type="button" onclick="Modification_insurance()" style="width: 300px;" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
 					 提交
			</button>
		</div>	
	
	<div>
		<!--获取当前页 -->
		<input type="hidden" id="pagenum" th:value="${pageNum}" />
	</div>
	</body>
	<script th:src="@{/js/autolnsurance/Modification_insurance.js}"></script>
</html>



