<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.myinsurance.dao.AuthorizationMapper">
    <!--查询用户所拥有的角色-->
    <select id="selectRolesByuserid" parameterType="java.lang.Integer" resultType="java.lang.String">
     select role_name roleName from role_info
    where role_id in
    (SELECT role_id from user_role_info where
     user_id= #{userId,jdbcType=INTEGER})
  </select>

    <!--查询用户所拥有的权限-->
    <select id="selectRightByuserid" parameterType="java.lang.Integer" resultType="java.lang.String">
    select right_name from right_info where right_id in
   (
  select right_id from  role_right_info where role_id in
	(
	 select role_id from user_role_info where user_id=#{userId,jdbcType=INTEGER}
	)
)
  </select>


    <!--修改用户角色-->
    <update id="updateByPrimaryKeySelective" parameterType="com.cq.myinsurance.pojo.vo.UserRole">
        update user_role_info
        <set>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

    <!--增加用户角色-->
    <insert id="insertSelective" parameterType="com.cq.myinsurance.pojo.vo.UserRole">
        insert into user_role_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>