<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.myinsurance.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.cq.myinsurance.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_cardid" jdbcType="VARCHAR" property="userCardid" />
    <result column="employee_date" jdbcType="DATE" property="employeeDate" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="account_pwd" jdbcType="VARCHAR" property="accountPwd" />
    <result column="depart" jdbcType="VARCHAR" property="depart" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>


  <sql id="Base_Column_List">
    user_id, user_name, user_sex, birthday, user_phone, user_email, user_cardid, employee_date, 
    education, user_status, account_number, account_pwd, depart, address,createtime
  </sql>

  <sql id="Base_List">
     user_id, user_name, user_sex,user_phone, user_email,depart,address,birthday,employee_date,education
  </sql>

  <!--查询所有员工-->
  <select id="selectall" parameterType="com.cq.myinsurance.pojo.vo.UserLoad"  resultMap="BaseResultMap">
    select
    <include refid="Base_List" />
    from user_info
   <where>
     <if test="userName!=null">
       user_name=#{userName,jdbcType=VARCHAR}
     </if>
     <if test="userId!=null">
       user_id=#{userId,jdbcType=INTEGER}
     </if>
     <if test="depart!=null">
       depart=#{depart,jdbcType=VARCHAR}
     </if>
   </where>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <!--登录-->
  <select id="selectByusernameandpwd" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where account_number = #{account_number,jdbcType=VARCHAR}
  </select>

  <!--根据用户账户名和密码查询用户-->
  <select id="finduser" resultType="com.cq.myinsurance.pojo.User">
    select
    <include refid="Base_Column_List" />
    from user_info
    where account_number = #{accountNumber,jdbcType=VARCHAR}
    and account_pwd== #{accountPwd,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.cq.myinsurance.pojo.User">
    insert into user_info (user_id, user_name, user_sex, address,
      birthday, user_phone, user_email, 
      user_cardid, employee_date, education, 
      user_status, account_number, account_pwd, 
      depart, createtime)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR},  #{address,jdbcType=VARCHAR},
      #{birthday,jdbcType=DATE}, #{userPhone,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, 
      #{userCardid,jdbcType=VARCHAR}, #{employeeDate,jdbcType=DATE}, #{education,jdbcType=VARCHAR}, 
      #{userStatus,jdbcType=INTEGER}, #{accountNumber,jdbcType=VARCHAR}, #{accountPwd,jdbcType=VARCHAR}, 
      #{depart,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>

  <insert useGeneratedKeys="true" keyProperty="userId" id="insertSelective" parameterType="com.cq.myinsurance.pojo.User">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userCardid != null">
        user_cardid,
      </if>
      <if test="employeeDate != null">
        employee_date,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="accountNumber != null">
        account_number,
      </if>
      <if test="accountPwd != null">
        account_pwd,
      </if>
      <if test="depart != null">
        depart,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userCardid != null">
        #{userCardid,jdbcType=VARCHAR},
      </if>
      <if test="employeeDate != null">
        #{employeeDate,jdbcType=DATE},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="accountNumber != null">
        #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountPwd != null">
        #{accountPwd,jdbcType=VARCHAR},
      </if>
      <if test="depart != null">
        #{depart,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.cq.myinsurance.pojo.vo.UserRole">
    update user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userCardid != null">
        user_cardid = #{userCardid,jdbcType=VARCHAR},
      </if>
      <if test="employeeDate != null">
        employee_date = #{employeeDate,jdbcType=DATE},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>

      <if test="depart != null">
        depart = #{depart,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>


  <update id="updateuserByPrimaryKeySelective" parameterType="com.cq.myinsurance.pojo.User">
    update user_info
    <set>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="accountPwd!=null">
        account_pwd=#{accountPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>



  <update id="updateByPrimaryKey" parameterType="com.cq.myinsurance.pojo.User">
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
       address = #{address,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_cardid = #{userCardid,jdbcType=VARCHAR},
      employee_date = #{employeeDate,jdbcType=DATE},
      education = #{education,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=INTEGER},
      account_number = #{accountNumber,jdbcType=VARCHAR},
      account_pwd = #{accountPwd,jdbcType=VARCHAR},
      depart = #{depart,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>