<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
		<title>案件管理</title>
			<!-- Bootstrap -->
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="js/jquery-1.11.1.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<div style="width: 100%">
			<table class="table table-condensed" style="text-align: center;" >
				<tr style="background-color: #F2F2F2;font-family: '黑体';">
					<td><h5>案件编号</h5></td>
					<td><h5>报案人</h5></td>
					<td><h5>报案时间</h5></td>
					<td><h5>出事地点</h5></td>
					<td><h5>状态</h5></td>
				</tr>
				<tr>
					<td>1</td>
					<td>张三</td>
					<td>2015</td>
					<td>上海</td>
					<td>状态</td>
				</tr>
			</table>
		</div>
	</body>
</html>